<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58870024888-du941l9hrkvv3jnfsupdk1b8avk66vq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58870024888-du941l9hrkvv3jnfsupdk1b8avk66vq2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>58870024888-9kjr3cuc1ol7e9okdcrvmtrl3jap2e9d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjT5qE2FciS3HF0mNHB-2Ncu9VaEX5wNA</string>
	<key>GCM_SENDER_ID</key>
	<string>58870024888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.millionsolutions.faduapp</string>
	<key>PROJECT_ID</key>
	<string>fadu-1c40d</string>
	<key>STORAGE_BUCKET</key>
	<string>fadu-1c40d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58870024888:ios:69b01703699c90e408424d</string>
</dict>
</plist>